@import url('https://fonts.googleapis.com/css?family=Nunito');


.prueba {
text-align: center;}
body {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to right,#5433FF , #20BDFF);
    margin: 0;
    height: 100vh;
    
  }


.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;}

.content {
    background-color: #fff;
    padding: 30px 15px;
    border-radius: 10px;
    width: 100%;
    max-width: 1024px;
    min-width: 200px;
    
    }



    input, select, textarea {
      font-family: CaeciliaLTPro-45Light;
      font-size: .9rem;
      color: #53565a;
      padding: 10px;
      width: 100%;
      -webkit-transition: all .2s linear;
      transition: all .2s linear;
      border: 1px solid #a9a9a9;
      background: #fff;
      
     }

.marco_tabla{

      flex-basis: 100%;
      max-width: 100%;

     }


input{
width: 100%;
  }


  
